SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:3001/api/spotify/callback

WEATHER_API_KEY=your_weather_api_key_here

HIVE_USERNAME=your_hive_username
HIVE_PASSWORD=your_hive_password

GITHUB_TOKEN=your_github_pac
GITHUB_USERNAME=your_github_username